.carrusel {
  height: 75vh; /* Ajusta la altura según tus necesidades */
  width: 22vw;
  overflow: hidden;
}

.slide {
  height: 100%;
  animation: slideVertical 10s infinite; /* Velocidad de desplazamiento y animación infinita */
}

.foto {
  width: 22vw;
  height: 75vh;
}


@keyframes slideVertical {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
